html,
body {
  height: 100%;
}


body {
  @extend %dmsans-700;
  color: $default;

}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container__small {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 36px;
  color: #191919;
}

.menu__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #8b8b8b;
  padding: 0;
}

section.partners--login {
  padding: 95px 0 90px;
  margin-top: 0;
}

.breadcrumbs {
  margin-top: 10px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
  }

  &__item {

    &::after {
      content: '/';
    }

    &:last-child {

      &::after {
        display: none;
      }
    }
  }

  &__link {
    margin: 0 8px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
margin-top: 105px;

  &__btn,
  &__btn-next {
    background-color: #fff;
    border: 1px solid $default;
    width: 50px;
    height: 50px;
    @extend %rubik-400;
    font-size: 16px;
    color: #243f4d;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    &:hover{
      background-color: $default;
      color: #fff;
    }
  }

  &__btn-next{
    width: 75px;
    margin-right: 0;
}
}
.pagination__btn--active{
  background-color: $default;
    color: #fff;
}