@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;

  &__title {
    margin-left: 15px;
    color: $title;
    @extend %rubik-500;
    font-size: 36px;

  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    color: $title;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__serch {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__link-serch {
    background-color: #edf1f4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  &__points {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__link-burger {
    background-color: $default;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  &__link-block {
    background-color: #fcd7b6;
    border-radius: 50px;
    width: 180px;
    height: 50px;
    margin: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
  }

  &__link-block::before {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 32px;
    width: 1px;
    opacity: 0.4;
  }

  &__num-1 {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 7px;
    right: 104px;
    color: $title;
    font-size: 10px;
    @extend %dmsans-400;
    text-align: center;
    line-height: 18px;
  }

  &__num-2 {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 7px;
    right: 40px;
    color: $title;
    font-size: 10px;
    @extend %dmsans-400;
    text-align: center;
    line-height: 18px;
  }
}

.footer-top {
  padding: 80px 0 55px;
  display: flex;
  border-bottom: 1px solid rgb(163, 187, 200);

  &__item {
    max-width: 270px;
    width: 100%;
    color: $text;
    @extend %rubik-400;
    font-size: 14px;
  }

  &__item+.footer-top__item {
    margin-left: 30px;
  }

  &__logo {
    margin-bottom: 25px;
    margin-top: -17px;
  }

  &__adress-span {
    display: block;
  }

  &__phone,
  &__email,
  &__adress {
    display: block;
    margin-bottom: 20px;
    line-height: 24px;
  }

  &__title {
    text-transform: uppercase;
    @extend %dmsans-700;
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 23px;
  }

  &__text {
    line-height: 24px;
    margin-bottom: 35px;
  }

  &__list-item {
    margin-bottom: 18px;
  }

  &__form-input {
    border: none;
    max-width: 170px;
    width: 100%;
    padding: 15px;
    background-color: #fef7f0;
    color: #1f2044;
    outline: none;

    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }

  &__form-btn {
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #a3bbc8;
    @extend %dmsans-400;
    font-size: 14px;
    padding: 15px 12px;
    width: 100%;
    max-width: 100px;
  }

  &__form {
    display: flex;
  }

  &__logo {
    display: inline-flex;
  }
}

.footer-bottom {
  padding: 35px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__accept {
    display: flex;

  }

  &__copy {
    color: #7b7b7b;
    @extend %rubik-400;
    font-size: 14px;
  }

  &__title+.footer-bottom__title {
    margin-left: 30px;
  }

  &__title-end {
    color: $text;
    @extend %rubik-400;
    font-size: 14px;
    position: relative;
    margin-left: 30px;
  }

  &__title {
    color: $text;
    @extend %rubik-400;
    font-size: 14px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 3px;
      height: 16px;
      background-color: $text;
      margin-left: 15px;
    }
  }
}

.slider-top {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    @extend %rubik-500;
    color: #243f4d;
    font-size: 72px;
    line-height: 70px;
    width: 411px;
    margin-bottom: 40px;
    margin-top: 225px;
  }

  &__text {
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: $title;
    width: 370px;
    margin-bottom: 45px;
  }

  &__link {
    background-color: $default;
    padding: 25px 15px 20px 28px;
    color: #fff;
    display: inline-block;
  }

  &__link-img {
    margin-left: 58px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    padding-bottom: 40px;

    li {
      padding: 0 6px;

      button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: #fff;
        @extend %rubik-500;
        font-size: 11px;
        align-items: center;
        color: #243f4d;

      }

      &.slick-active {
        button {
          background-color: rgb(255, 255, 255);
          opacity: 0.302;
        }
      }
    }
  }
}

.slider-container {
  position: relative;
}

.info {

  &__items {
    display: flex;
    align-items: center;
    min-height: 170px;
    background-color: #fef7f0;

  }

  &__item {
    padding: 50px 15px;
    display: flex;
    width: 33.33%;
    justify-content: center;
  }

  &__item-one {
    border-right: 1px solid #e8e4df;

    &::before {
      content: '';
      background-image: url(../images/info-1.svg);
      width: 52px;
      height: 54px;
      margin-right: 25px;
      position: relative;
      top: 10px;
    }
  }

  &__item-two {
    padding: 65px 0;
    border-right: 1px solid #e8e4df;

    &::before {
      content: '';
      background-image: url(../images/info-2.svg);
      width: 55px;
      height: 37px;
      margin-right: 25px;
      position: relative;
      top: 10px;
    }
  }

  &__item-three {
    &::before {
      content: '';
      background-image: url(../images/info-3.svg);
      width: 54px;
      height: 53px;
      margin-right: 35px;
      position: relative;
      top: 10px;
    }
  }

  &__item-title {
    font-size: 18px;
    line-height: 40px;
    color: #414141;

  }

  &__item-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    width: 225px;
  }

  &__item-text__one {
    width: 200px;

  }
}

.shop {
  padding: 75px 0 90px;

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
}


.shop__top {
  text-align: center;

  &-menu__btn+.shop__top-menu__btn {
    margin-left: 30px;
  }

  &-menu {
    margin-bottom: 80px;
  }
}

.shop__content {

  &-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    text-align: center;
  }

  &-hover {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    display: flex;
  }

  &-item {
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
    justify-content: space-around;

    &:hover .shop__content-hover {
      opacity: 1;
      visibility: visible;
      transition: all 1s;
    }
  }

  &-img {
    display: inline-block;
  }

  &-subtitle {
    @extend %dmsans-500;
    font-size: 16px;
    color: #243f4d;
    line-height: 40px;

  }

  &-text {
    font-size: 16px;
    line-height: 40px;
  }



  &-serch {
    background-color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: relative;
    margin-right: 18px;
  }

  &-cart {
    background-color: $default;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: relative;
    margin-right: 18px;
  }

  &-hert {
    background-color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: relative;
  }

  &-hert__link {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &-serch-img,
  &-cart-img,
  &-hert-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

}

.mixitup-control-active {
  color: #191919;
}

.light {
  padding: 100px 0 50px;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    background-color: #feefe2;
    align-items: center;
    max-width: 870px;
    width: 100%;
    padding: 20px;
    min-height: 390px;
    justify-content: center;
  }

  &__item+.light__item {
    margin-left: 30px;
  }

  &__item-title {
    color: #243f4d;
    max-width: 250px;
    width: 100%;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 25px;
  }

  &__item-text {
    color: #243f4d;
    max-width: 320px;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  &__item-link {
    background-color: transparent;
    padding: 20px 22px;
    color: #243f4d;
    display: inline-block;
    border: 1px solid #b3b7b5;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    border-radius: 5px;

  }

  &__item-link__img {
    margin-left: 45px;
  }

  &__item-img {
    margin-top: -180px;
    margin-right: 20px;
  }
}

.selector {

  &__title {
    text-align: center;
    margin-bottom: 35px;
  }
}

.selector__top {

  &-menu {
    text-align: center;
  }

  &-menu__btn+.selector__top-menu__btn {
    margin-left: 30px;
    margin-bottom: 80px;
  }
}

.selector__content {

  &-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 35px;
    grid-column-gap: 30px;
  }

  &-item__left-title {
    font-size: 20px;
    color: #191919;
    max-width: 175px;
    width: 100%;
    padding-top: 42px;
    margin-bottom: 5px;
  }

  &-item__right {
    position: relative;
    z-index: 1;
  }


  &-item__left {
    position: absolute;
    padding-left: 40px;
    z-index: 4;
  }

}

.video {
  background-image: url(../images/video-link.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;

}

.news {
  padding-top: 60px;
  position: relative;
  z-index: 2;

  &__box-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  &__link {
    color: #262626;
    @extend %dmsans-700;
  }

  &__img {
    margin-left: 15px;
  }

  &__items {
    display: flex;
    justify-content: space-between;

  }

  &__item {
    background-color: #fff;
    max-width: 370px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__item+.news__item {
    margin-left: 30px;
  }

  &__item-content {
    min-height: 170px;
    padding: 35px 30px 20px;
  }

  &__item-content__text {
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
    max-width: 290px;
    width: 100%;
    min-height: 86px;
    height: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
  }

  &__item-content__bottom {
    display: flex;
    @extend %rubik-400;
    font-size: 12px;
    color: #222933;
    margin-top: 20px;
  }

  &__item-content__bottom-text_1 {
    margin-right: 45px;
  }

  &__item-top {
    position: relative;
  }

  &__item-top__img-title {
    position: absolute;
    font-size: 14px;
    color: #fff;
    background-color: $default;
    max-width: 105px;
    width: 100%;
    min-height: 30px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -15px;
    left: 30px;
  }
}

.partners {
  position: relative;
  background-color: #fef7f0;
  padding: 265px 0 90px;
  margin-top: -175px;


  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}

.top {
  background-color: #edf1f4;
  min-height: 125px;

  &__title {
    @extend %rubik-400;
    color: #222933;
    text-align: center;
    font-size: 36px;
    line-height: 24px;
    padding-top: 35px;
  }
}


.modal {
  padding: 120px 0;

  &__container {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
  }

  &__label {
    display: block;
  }

  &__title-one,
  &__title-two {
    @extend %rubik-400;
    font-size: 14px;
    color: $title;
    margin-bottom: 15px;
  }

  &__title-two {
    margin-top: 28px;
  }

  &__input {
    display: block;
    width: 100%;
    min-height: 60px;
    border: 3px solid #f6f6f6;
    outline: none;
    padding: 0 15px;
    color: $title;
  }

  &__btn {
    width: 100%;
    background-color: $default;
    color: #fff;
    min-height: 60px;
    margin: 37px 0;
    @extend %rubik-500;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %rubik-400;
    font-size: 14px;
    color: $title;
    padding-bottom: 35px;
    border-bottom: 2px solid #f6f6f6;
  }

  &__text {
    @extend %rubik-400;
    font-size: 14px;
    color: $title;
    text-align: center;
    margin-top: 33px;
  }

  &__link {
    @extend %rubik-500;
    font-size: 18px;
    color: #243f4d;
    border: 2px solid $default;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
}

.info {
  padding: 120px 0 60px;

  &__title {
    @extend %rubik-500;
    font-size: 24px;
    color: #243f4d;
    margin: 75px 0 30px;
  }

  &__title-start {
    margin-top: 0;
  }

  &__text {
    @extend %rubik-400;
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 30px;
  }

  &__text-end {
    margin-bottom: 0;
  }

  &__text-1 {
    display: flex;

    &::before {
      content: '01.';
      margin-right: 15px;
      margin-left: 5px;
    }
  }

  &__text-2 {
    display: flex;

    &::before {
      content: '02.';
      margin-right: 15px;
      margin-left: 5px;
    }
  }

  &__text-3 {
    display: flex;

    &::before {
      content: '03.';
      margin-right: 15px;
      margin-left: 5px;
    }
  }

  &__text-4 {
    display: flex;

    &::before {
      content: '04.';
      margin-right: 15px;
      margin-left: 5px;
    }
  }
    &__text-5 {
      display: flex;
  
      &::before {
        content: '05.';
        margin-right: 15px;
        margin-left: 5px;
      }
    }
}





























@import 'media';