@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;

  &__title {
    margin-left: 15px;
    color: $title;
    @extend %rubik-500;
    font-size: 36px;

  }
}

.menu {
  &__header-btn {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    color: $title;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__serch {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__link-serch {
    background-color: #edf1f4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  &__points {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__link-burger {
    background-color: $default;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  &__link-block {
    background-color: #fcd7b6;
    border-radius: 50px;
    width: 180px;
    height: 50px;
    margin: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
  }

  &__link-block::before {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 32px;
    width: 1px;
    opacity: 0.4;
  }

  &__num-1 {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 7px;
    right: 104px;
    color: $title;
    font-size: 10px;
    @extend %dmsans-400;
    text-align: center;
    line-height: 18px;
  }

  &__num-2 {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 7px;
    right: 40px;
    color: $title;
    font-size: 10px;
    @extend %dmsans-400;
    text-align: center;
    line-height: 18px;
  }
}

.footer-top {
  padding: 80px 0 55px;
  display: flex;
  border-bottom: 1px solid rgb(163, 187, 200);

  &__item {
    max-width: 270px;
    width: 100%;
    color: $text;
    @extend %rubik-400;
    font-size: 14px;
  }

  &__item+.footer-top__item {
    margin-left: 30px;
  }

  &__logo {
    margin-bottom: 25px;
    margin-top: -17px;
  }

  &__adress-span {
    display: block;
  }

  &__phone,
  &__email,
  &__adress {
    display: block;
    margin-bottom: 20px;
    line-height: 24px;
  }

  &__title {
    text-transform: uppercase;
    @extend %dmsans-700;
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 23px;
  }

  &__text {
    line-height: 24px;
    margin-bottom: 35px;
  }

  &__list-item {
    margin-bottom: 18px;
  }

  &__form-input {
    border: none;
    min-width: 170px;
    width: 100%;
    padding: 15px;
    background-color: #fef7f0;
    color: #1f2044;
    outline: none;

    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }

  &__form-btn {
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #a3bbc8;
    @extend %dmsans-400;
    font-size: 14px;
    padding: 15px 12px;
    width: 100%;
    min-width: 100px;
  }

  &__form {
    display: flex;
  }

  &__logo {
    display: inline-flex;
  }
}

.footer-bottom {
  padding: 35px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__accept {
    display: flex;

  }

  &__copy {
    color: #7b7b7b;
    @extend %rubik-400;
    font-size: 14px;
  }

  &__title+.footer-bottom__title {
    margin-left: 30px;
  }

  &__title-end {
    color: $text;
    @extend %rubik-400;
    font-size: 14px;
    position: relative;
    margin-left: 30px;
  }

  &__title {
    color: $text;
    @extend %rubik-400;
    font-size: 14px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 3px;
      height: 16px;
      background-color: $text;
      margin-left: 15px;
    }
  }
}

.slider-top {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    @extend %rubik-500;
    color: #243f4d;
    font-size: 72px;
    line-height: 70px;
    width: 411px;
    margin-bottom: 40px;
    margin-top: 225px;
  }

  &__text {
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: $title;
    width: 370px;
    margin-bottom: 45px;
  }

  &__link {
    background-color: $default;
    padding: 20px 15px 20px 28px;
    color: #fff;
    display: inline-block;
  }

  &__link-img {
    margin-left: 58px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    padding-bottom: 40px;

    li {
      padding: 0 6px;

      button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: #fff;
        @extend %rubik-500;
        font-size: 11px;
        align-items: center;
        color: #243f4d;
        cursor: pointer;
      }

      &.slick-active {
        button {
          background-color: rgb(255, 255, 255);
          opacity: 0.302;
        }
      }
    }
  }
}

.slider-container {
  position: relative;
}

.info {

  &__items {
    display: flex;
    align-items: center;
    min-height: 170px;


  }

  &__item {
    padding: 50px 15px;
    display: flex;
    width: 33.33%;
    justify-content: center;
    background-color: #fef7f0;
  }

  &__item-one {
    border-right: 1px solid #e8e4df;

    &::before {
      content: '';
      background-image: url(../images/info-1.svg);
      width: 52px;
      height: 54px;
      margin-right: 25px;
      position: relative;
      top: 10px;
    }
  }

  &__item-two {
    padding: 65px 15px;
    border-right: 1px solid #e8e4df;

    &::before {
      content: '';
      background-image: url(../images/info-2.svg);
      width: 55px;
      height: 37px;
      margin-right: 25px;
      position: relative;
      top: 10px;
    }
  }

  &__item-three {
    &::before {
      content: '';
      background-image: url(../images/info-3.svg);
      width: 54px;
      height: 53px;
      margin-right: 35px;
      position: relative;
      top: 10px;
    }
  }

  &__item-title {
    font-size: 18px;
    line-height: 40px;
    color: #414141;

  }

  &__item-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    width: 225px;
  }

  &__item-text__one {
    width: 200px;

  }
}

.shop {
  padding: 75px 0 90px;

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
}


.shop__top {
  text-align: center;

  &-menu__btn+.shop__top-menu__btn {
    margin-left: 30px;
  }

  &-menu {
    margin-bottom: 80px;
  }
}

.shop__content {

  &-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;

  }

  &-hover {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    display: flex;
  }

  &-item {
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex !important;
    flex-direction: column;
    align-items: center;
    height: 380px;
    justify-content: space-around;
    width: 270px;
    text-align: center;
    border-radius: 8px;

    &:hover .shop__content-hover {
      opacity: 1;
      visibility: visible;
      transition: all 1s;
    }

  }

  &-img {
    display: inline-block;
  }

  &-subtitle {
    @extend %dmsans-500;
    font-size: 16px;
    color: #243f4d;
    line-height: 40px;

  }

  &-text {
    font-size: 16px;
    line-height: 40px;
  }



  &-serch {
    background-color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: relative;
    margin-right: 18px;
  }

  &-cart {
    background-color: $default;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: relative;
    margin-right: 18px;
  }

  &-hert {
    background-color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: relative;
  }

  &-hert__link {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &-serch-img,
  &-cart-img,
  &-hert-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

}

.mixitup-control-active {
  color: #191919;
}

.light {
  padding: 100px 0 50px;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    background-color: #feefe2;
    align-items: center;
    max-width: 870px;
    width: 100%;
    padding: 20px;
    min-height: 390px;
    justify-content: center;
  }

  &__item+.light__item {
    margin-left: 30px;
  }

  &__item-title {
    color: #243f4d;
    max-width: 250px;
    width: 100%;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 25px;
  }

  &__item-text {
    color: #243f4d;
    max-width: 320px;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  &__item-link {
    background-color: transparent;
    padding: 20px 22px;
    color: #243f4d;
    display: inline-block;
    border: 1px solid #b3b7b5;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    border-radius: 5px;

  }

  &__item-link__img {
    margin-left: 45px;
  }

  &__itemo-img {
    margin-top: -180px;
    margin-right: 20px;
  }
}

.selector {

  &__title {
    text-align: center;
    margin-bottom: 35px;
  }
}

.selector__top {

  &-menu {
    text-align: center;
  }

  &-menu__btn+.selector__top-menu__btn {
    margin-left: 30px;
    margin-bottom: 80px;
  }
}

.selector__content {

  &-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 35px;
    grid-column-gap: 30px;
  }

  &-item__left-title {
    font-size: 20px;
    color: #191919;
    max-width: 175px;
    width: 100%;
    padding-top: 42px;
    margin-bottom: 5px;
  }

  &-item__right {
    position: relative;
    z-index: 1;
  }


  &-item__left {
    position: absolute;
    padding-left: 40px;
    z-index: 4;
  }

}

.video {
  background-image: url(../images/video-link.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;

}

.news {
  padding-top: 60px;
  position: relative;
  z-index: 2;

  &__box-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  &__link {
    color: #262626;
    @extend %dmsans-700;
  }

  &__img {
    margin-left: 15px;
  }

  &__items {
    display: flex;
    justify-content: space-between;

  }

  &__item {
    background-color: #fff;
    max-width: 370px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__item+.news__item {
    margin-left: 30px;
  }

  &__item-content {
    min-height: 170px;
    padding: 35px 30px 20px;
  }

  &__item-content__text {
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
    max-width: 290px;
    width: 100%;
    min-height: 86px;
    height: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
  }

  &__item-content__bottom {
    display: flex;
    @extend %rubik-400;
    font-size: 12px;
    color: #222933;
    margin-top: 20px;
  }

  &__item-content__bottom-text_1 {
    margin-right: 45px;
  }

  &__item-top {
    position: relative;
  }

  &__item-top__img-title {
    position: absolute;
    font-size: 14px;
    color: #fff;
    background-color: $default;
    max-width: 105px;
    width: 100%;
    min-height: 30px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -15px;
    left: 30px;
  }
}

.partners {
  position: relative;
  background-color: #fef7f0;
  padding: 265px 0 90px;
  margin-top: -175px;


  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}

.top {
  background-color: #edf1f4;
  min-height: 125px;

  &__title {
    @extend %rubik-400;
    color: #222933;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    padding-top: 35px;
  }
}


.modal {
  padding: 120px 0;

  &__container {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
  }

  &__label {
    display: block;
  }

  &__title-one,
  &__title-two {
    @extend %rubik-400;
    font-size: 14px;
    color: $title;
    margin-bottom: 15px;
  }

  &__title-two {
    margin-top: 28px;
  }

  &__input {
    display: block;
    width: 100%;
    min-height: 60px;
    border: 3px solid #f6f6f6;
    outline: none;
    padding: 0 15px;
    color: $title;
  }

  &__btn {
    width: 100%;
    background-color: $default;
    color: #fff;
    min-height: 60px;
    margin: 37px 0;
    @extend %rubik-500;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %rubik-400;
    font-size: 14px;
    color: $title;
    padding-bottom: 35px;
    border-bottom: 2px solid #f6f6f6;
  }

  &__text {
    @extend %rubik-400;
    font-size: 14px;
    color: $title;
    text-align: center;
    margin-top: 33px;
  }

  &__link {
    @extend %rubik-500;
    font-size: 18px;
    color: #243f4d;
    border: 2px solid $default;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
}

.info {
  padding: 120px 0 60px;

  &__title {
    @extend %rubik-500;
    font-size: 24px;
    color: #243f4d;
    margin: 75px 0 30px;
  }

  &__title-start {
    margin-top: 0;
  }

  &__text {
    @extend %rubik-400;
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 30px;
  }

  &__text-end {
    margin-bottom: 0;
  }

  &__text-1 {
    display: flex;

    &::before {
      content: '01.';
      margin-right: 15px;
      margin-left: 5px;
    }
  }

  &__text-2 {
    display: flex;

    &::before {
      content: '02.';
      margin-right: 15px;
      margin-left: 5px;
    }
  }

  &__text-3 {
    display: flex;

    &::before {
      content: '03.';
      margin-right: 15px;
      margin-left: 5px;
    }
  }

  &__text-4 {
    display: flex;

    &::before {
      content: '04.';
      margin-right: 15px;
      margin-left: 5px;
    }
  }

  &__text-5 {
    display: flex;

    &::before {
      content: '05.';
      margin-right: 15px;
      margin-left: 5px;
    }
  }
}

.shoper {
  padding: 120px 0;

  &__inner {
    display: flex;
  }

  &__filters {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
  }
}

.filter {
  position: relative;

  &__title {
    font-size: 18px;
    color: #243f4d;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}

.filter-category {
  margin-bottom: 60px;

  &__label {
    display: block;
    cursor: pointer;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;

    }
  }

  &__title {
    position: relative;

    &::after {
      content: '';
      background-image: url(../images/palka.svg);
      width: 39px;
      height: 3px;
      position: absolute;
      margin-left: 15px;
      top: 9px;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-category__checkbox {
      background-color: #edf1f4;
      border-radius: 4px;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 23px 15px 15px;
    width: 100%;
    color: #243f4d;
    @extend %rubik-400;
    font-size: 16px;
  }
}

.filter-price {

  &__title {
    position: relative;
    margin-bottom: 40px;

    &::after {
      content: '';
      background-image: url(../images/palka.svg);
      width: 39px;
      height: 3px;
      position: absolute;
      margin-left: 15px;
      top: 9px;
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    color: #243f4d;
    @extend %rubik-400;
    margin-top: 30px;
  }
}

.irs--flat .irs-line {
  top: 0px;
  height: 3px;
  background-color: #c2d2db;
}

.irs--flat .irs-bar {
  top: 0px;
  height: 4px;
  background-color: $default;
}

.irs--flat .irs-handle {
  top: -5px;
  width: 15px;
  height: 15px;
  background-color: $default;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-max,
.irs-min,
.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat {
  height: 0;
}

.filter-brand {

  &__title {
    position: relative;
    margin-bottom: 40px;
    margin-top: 88px;

    &::after {
      content: '';
      background-image: url(../images/palka.svg);
      width: 39px;
      height: 3px;
      position: absolute;
      margin-left: 15px;
      top: 9px;
    }
  }
}

.filter-recent {

  &__title {
    position: relative;
    margin-bottom: 38px;
    margin-top: 68px;

    &::after {
      content: '';
      background-image: url(../images/palka.svg);
      width: 39px;
      height: 3px;
      position: absolute;
      margin-left: 15px;
      top: 9px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    color: #333333;
    margin-bottom: 25px;
  }

  &__item-img {
    object-fit: contain;
    width: 73px;
    height: 50px;

  }

  &__item-left {
    border: 3px solid #f2f2f2;
    width: 70px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item-right {
    margin-left: 20px;
  }

  &__subtitle {
    font-size: 14px;
    @extend %rubik-400;
    margin-bottom: 10px;

  }

  &__text {
    margin-top: 10px;
    font-size: 15px;
    @extend %rubik-400;
  }

}

.jq-ry-container {
  padding: 0;
}

.shoper__filter-btn {
  display: none;
}



.shoper__content {
  &-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;

    &.shoper__content-items--list {
      display: none;
    }
  }
}

.shoper-content__filter {
  max-width: 140px;
  width: 100%;
  min-height: 45px;

  &-buttons {

    color: #243f4d;
    font-size: 16px;

    span {
      margin-right: 5px;
    }
  }

  &-btn {
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    top: 3px;
  }

  &-btn--active {

    path {
      fill: #243f4d;
    }
  }
}

.shoper-bottom {

  &__items {
    display: none;

    &.shoper-bottom__items--grid {
      display: block;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-left {
    width: 370px;
    min-height: 500px;
    border: 3px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
  }

  &__item-right__title {
    @extend %rubik-400;
    font-size: 40px;
    color: #333333;
    margin-bottom: 25px;
    line-height: 26px;
  }

  &__star {
    margin-bottom: 35px;
  }

  &__item-right__subtitle {
    @extend %rubik-400;
    font-size: 30px;
    color: #333333;
    line-height: 30px;
    margin-bottom: 32px;
  }

  &__item-right__text {
    @extend %rubik-400;
    font-size: 16px;
    color: #243f4d;
    width: 408px;
    line-height: 30px;
    margin-bottom: 40px;
  }

  &__item-right__link-cart {
    display: inline-block;
    position: relative;
    background-color: #a2bac7;
    width: 50px;
    height: 50px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    margin-right: 8px;
  }

  &__item-right__icon-cart {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__item-right__link-hert {
    display: inline-block;
    position: relative;
    background-color: #fff;
    width: 50px;
    height: 50px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__item-right__icon-hert {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.detalis {
  padding: 120px 0 30px;

  &__inner {
    display: flex;
    align-items: center;
  }

  &-slide {
    display: flex;
  }

  &-slide__thumb {
    margin-right: 25px;
    width: 138px;
  }

  &-slide__thumb-item {
    width: 100%;
    margin-bottom: 11.5px;
    border: 2px solid #f2f2f2;


    img {
      width: 138px;
      height: 160px;
      object-fit: cover;


    }
  }

  &-slide__big {
    width: 388px;
    margin-right: 70px;
  }

  &-slide__big-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 530px;
    border: 2px solid #f2f2f2;

    img {
      object-fit: cover;
    }
  }


}

.detalis-slide {
  .slick-list {
    height: 531px !important;
  }
}

.slider-thumb__end {
  margin: 0;
}



.detalis-content {

  &__info-title {
    margin-right: 6px;
  }

  &__title {
    @extend %rubik-400;
    font-size: 40px;
    color: #333333;
    line-height: 36px;
    margin-bottom: 25px;
  }

  &__price {
    @extend %rubik-400;
    color: #333333;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 30px;
    margin-top: 35px;
  }

  &__text {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 25px;
  }

  &__info {
    margin-top: 50px;
  }

  &__info-item {
    @extend %rubik-400;
    font-size: 16px;
    display: flex;
    line-height: 30px;
    color: #243f4d;
  }

  &__btn {
    width: 208px;
    height: 53px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $default;
    color: #fff;
    @extend %rubik-400;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
  }
}

.jq-number {
  position: relative;
  padding: 0;
  margin-right: 15px;
}

.jq-number__field {
  width: 148px;
  height: 53px;
  border: 1px solid $default;
  transform: translateY(1px);
  display: flex;
  justify-content: center;
  align-items: center;

}

.jq-number__field input {

  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  @extend %rubik-400;
  font-size: 15px;
  color: #333333;
  text-align: center;
}



.jq-number__spin {
  cursor: pointer;
  width: 50px;
  height: 52px;
  top: auto;
  bottom: 0;
}

.jq-number__spin.minus {
  position: absolute;
  right: auto;
  border-right: 1px solid $default;

  &::after {
    content: "";
    position: absolute;
    top: 52%;
    left: 22px;
    background-color: #333333;
    width: 6px;
    height: 1px;
  }
}

.jq-number__spin.plus {
  right: 0;
  position: absolute;
  border-left: 1px solid $default;

  &::before {
    content: "";
    position: absolute;
    top: 44%;
    left: 23px;
    background-color: #333333;
    width: 1px;
    height: 8px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 51%;
    left: 19px;
    background-color: #333333;
    width: 9px;
    height: 1px;
  }
}

.detalis-tabs {
  padding: 100px 0 165px;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  &__top-item {
    width: 240px;
    height: 53px;
    background-color: #edf1f4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 0 6px;
    color: #243f4d;
    @extend %rubik-500;
    font-size: 18px;
    line-height: 40px;
  }

  &__top-item--active {
    background-color: $default;
    color: #fff;
  }

  &__content-item__text {
    @extend %rubik-400;
    font-size: 16px;
    color: #243f4d;
    line-height: 30px;
  }

  &__content-item {
    display: none;

    &.detalis-tabs__content-item--active {
      display: block;
    }
  }
}

.detalis-slider {


  &__items {
    position: relative;

  }

  // .slick-track {
  //   left: 10px;
  // }
}


.detalis-slider-item {
  margin-right: 30px;
  width: 270px !important;
}

.slick-arrow {
  background-color: #fff;
  border: 2px solid #edf1f4;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  right: 0;
  left: auto;
  bottom: auto;
  top: -73px;

  path {
    fill: $default;
  }

  &:hover {
    border: 2px solid $default;
  }
}

.slick-prev {
  right: 70px;
}

.slick-list {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding: 30px 0 30px 15px;
}

.blog {

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
  }
}

.blog-left {
  width: 830px;
  margin-right: 10px;

  &__item {
    padding-bottom: 50px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__item-img {
    width: 100%;
    margin-bottom: 43px;
  }

  &__item-boximg {
    position: relative;
  }

  &__item-img__bottom {
    bottom: 0;
    position: absolute;
    display: inline-flex;
    @extend %rubik-400;
    font-size: 12px;
    color: #fff;
    background-color: $default;
    height: 70px;
    width: 275px;
    align-items: center;
    justify-content: center;
  }

  &__item-img__bottom-text1 {
    margin-right: 43px;
    margin-left: 20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/calendar-blog.svg);
      width: 12px;
      height: 14px;
      left: -18px;
      top: -1px;
    }
  }

  &__item-img__bottom-text2 {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/user-blog.svg);
      width: 12px;
      height: 14px;
      left: -18px;
      top: -1px;
    }
  }

  &__item-title {
    @extend %rubik-400;
    font-size: 36px;
    color: #333333;
    line-height: 36px;
    margin-bottom: 43px;
  }

  &__item-text {
    @extend %rubik-400;
    font-size: 16px;
    color: #243f4d;
    line-height: 30px;
    margin-bottom: 35px;
  }

  &__item-btn {
    padding: 22px 19px;
    border: 1px solid $default;
    cursor: pointer;
    background-color: #fff;
    @extend %rubik-500;
    font-size: 15px;
    color: $default;
  }

  &__item-btn__img {
    margin-left: 44px;
  }
}

.blog-right {
  width: 270px;

  &__sercher {
    margin-bottom: 60px;
  }

  &__sercher-form {
    align-items: center;
    position: relative;
  }

  &__sercher-form__input {
    border: 2px solid #eef2f5;
    border-radius: 4px;
    outline: none;
    height: 40px;
    width: 220px;
    padding: 0 15px 0 10px;
  }

  &__sercher-form__btn {
    position: absolute;
    height: 40px;
    width: 46px;
    background-color: #eef2f5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: -10px;
    border: 2px solid #eef2f5;
  }

  &__sercher-form__btn-img {
    margin-top: 6px;
  }
}

.blog-right__recent {

  &-title {
    position: relative;

    &::after {
      content: "";
      background-image: url(../images/palka.svg);
      width: 39px;
      height: 3px;
      position: absolute;
      margin-left: 15px;
      top: 9px;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-item__img-link {
    margin-right: 20px;
  }

  &-item__img {
    min-width: 71px;
    height: 71px;
  }

  &-item__box-title {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }

  &-item__text {
    @extend %rubik-400;
    font-size: 12px;
    line-height: 30px;
    color: #9a9a9a;
    position: relative;
    margin-left: 18px;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/calendar-blog-grey.svg);
      width: 12px;
      height: 14px;
      left: -18px;
      top: 6px;

    }
  }
}

.pagination-blog {
  justify-content: start;
  margin-top: 75px;
  margin-bottom: 120px;
}

.blog-detalis {
  padding-bottom: 120px;

  &__title {
    @extend %rubik-400;
    font-size: 36px;
    color: #333333;
    margin-bottom: 30px;
  }

  &__subtitle {
    @extend %rubik-500;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
  }

  &__text {
    font-size: 16px;
    @extend %rubik-400;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 35px;
    margin-top: 20px;
  }

  &__author {
    padding: 23px 88px 25px 35px;
    background-color: #edf1f4;
    border-left: 6px solid $default;
    margin-bottom: 45px;

    blockquote,
    span {
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: #243f4d;
    }

    blockquote {
      margin-bottom: 5px;
    }

    span {
      position: relative;
      margin-left: 45px;

      &::before {
        content: '';
        background-image: url(../images/author-palka.svg);
        width: 20px;
        height: 4px;
        position: absolute;
        left: -42px;
        top: 8px;
        margin-right: 20px;
      }
    }
  }

  &__left-box__img {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
  }

  &__left-img {
    margin-right: 30px;
  }

  &__title-min {
    @extend %rubik-500;
    font-size: 18px;
    color: #243f4d;
    margin-bottom: 25px;
  }

  &__text-two {
    font-size: 16px;
    @extend %rubik-400;
    line-height: 30px;
    color: #243f4d;
    // margin-bottom: 60px;
  }

}

.blog-detalis__designer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  margin-bottom: 65px;

  &-left {
    display: flex;
    align-items: center;
  }

  &-left__img {
    width: 76px;
    height: 76px;
    margin-right: 25px;
    object-fit: cover;
  }

  &-left__content-title {
    @extend %rubik-500;
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
  }

  &-left__content-text {
    @extend %rubik-400;
    font-size: 16px;
    color: #666666;
  }

  &-right__top {
    margin-bottom: 15px;

    span {
      @extend %rubik-400;
      font-size: 16px;
      color: #333333;
      margin-right: 30px;
    }

    a {
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-right__bottom {

    span {
      @extend %rubik-400;
      font-size: 16px;
      color: #333333;
      margin-right: 20px;
    }

    a {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.blog-detalis__coments {
  padding-bottom: 100px;

  &-title {
    @extend %rubik-700;
    font-size: 24px;
    color: #436372;
    margin-bottom: 30px;
  }

  &-item {
    display: flex;
    padding-top: 30px;
  }

  &-item__another {
    margin-left: 130px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
  }

  &-item__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 30px;
  }

  &-item__right {
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
  }

  &-item__right-another {
    border-bottom: none;
    padding-bottom: 0;
  }

  &-item__right-last {
    border-bottom: none;
    padding-bottom: 0;
  }

  &-item__right-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &-item__right-name {
    @extend %rubik-700;
    font-size: 16px;
    color: #436372;
  }

  &-item__right-date {
    @extend %rubik-400;
    font-size: 14px;
    color: #9e9e9e;
  }

  &-item__right-text {
    @extend %rubik-400;
    font-size: 16px;
    color: #565872;
    line-height: 30px;
    margin-bottom: 20px;
  }

  &-item__right-link {
    position: relative;
    @extend %rubik-400;
    font-size: 14px;
    color: #516278;

    &::after {
      content: '';
      background-image: url(../images/arrow-blog-detalis.svg);
      width: 11px;
      height: 13px;
      position: absolute;
      margin-left: 5px;
      top: 2px;
    }
  }
}

.blog-detalis__bottom {

  &-title {
    font-size: 24px;
    color: #436372;
    @extend %rubik-700;
    margin-bottom: 50px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &-name,
  &-email {
    height: 50px;
    width: 400px;
    outline: none;
    border: 1px solid #e5e5e5;
    @extend %rubik-400;
    font-size: 16px;
    color: #333333;
    padding: 18px 45px 18px 18px;
    transition: all .3s;

    &:focus {
      border: 1px solid $default;
      transition: all .3s;
    }

    &::placeholder {
      color: #999999;
    }

  }

  &-name {
    padding: 18px 40px 18px 18px;

  }

  &-content__top {
    margin-right: 30px;
    position: relative;

    &::after {
      content: '';
      background-image: url(../images/user-form.svg);
      width: 14px;
      height: 14px;
      position: absolute;
      top: 17px;
      right: 20px;
    }
  }

  &-content__bottom {
    position: relative;

    &::after {
      content: '';
      background-image: url(../images/email-form.svg);
      width: 18px;
      height: 13px;
      position: absolute;
      top: 18px;
      right: 20px;
    }
  }

  &-textarea__box {
    position: relative;

    &::after {
      content: '';
      background-image: url(../images/sms-form.svg);
      width: 18px;
      height: 15px;
      position: absolute;
      top: 18px;
      right: 20px;
    }
  }

  &-textarea {
    height: 120px;
    width: 100%;
    resize: none;
    outline: none;
    border: 1px solid #e5e5e5;
    @extend %rubik-400;
    font-size: 16px;
    color: #333333;
    padding: 18px 45px 18px 20px;
    margin-bottom: 35px;
    transition: all .3s;

    &:focus {
      border: 1px solid $default;
      transition: all .3s;
    }

    &::placeholder {
      color: #999999;
    }
  }

  &-btn {
    height: 50px;
    width: 190px;
    border: none;
    background-color: $default;
    cursor: pointer;
    color: #fff;
    @extend %rubik-400;
    font-size: 14px;

  }
}

.contact {
  padding: 120px 0 80px;
}

.contact-top {
  padding-bottom: 120px;

  &__subtitle {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
  }

  &__title {
    font-size: 35px;
    text-align: center;
    color: $title;
  }

  &__items {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    background-color: #fbfbfb;
    width: 370px;
    height: 380px;
    text-align: center;
    transition: all .4s;
    border: 3px solid #fbfbfb;

    &+.contact-top__item {
      margin-left: 30px;
    }

    &:hover {
      border: 3px solid $default;

      .contact-top__item-boxs {
        background-color: $default;
        transition: all .4s;
      }

      path {
        fill: #fff;
        transition: all .4s;
      }
    }
  }

  &__item-adres__box,
  &__item-email__box,
  &__item-sms__box {
    position: relative;
    margin-top: 70px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    margin-left: auto;
    margin-right: auto;
    transition: all .4s;
  }

  &__img-adres,
  &__img-email,
  &__img-sms {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__item-title {
    font-size: 20px;
    color: #222222;
    line-height: 26px;
    margin-top: 65px;
    margin-bottom: 20px;
  }

  &__item-text {
    @extend %rubik-400;
    font-size: 16px;
    color: #565872;
    line-height: 30px;
    width: 260px;
    text-align: center;
    margin: auto;
  }

  &__item-text--one {
    width: 170px;

  }

  &__img {
    transition: all .4s;

    path {
      transition: all .4s;
    }
  }
}

.contact-bottom {
  display: flex;
  justify-content: space-between;
}

.contact-bottom__left {
  width: 620px;
  margin-right: 60px;

  &-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &-content__top {
    margin-right: 20px;
    position: relative;

    &::after {
      content: '';
      background-image: url(../images/user-form.svg);
      width: 14px;
      height: 14px;
      position: absolute;
      top: 18px;
      right: 20px;
    }
  }

  &-content__bottom {
    position: relative;

    &::after {
      content: '';
      background-image: url(../images/email-form.svg);
      width: 18px;
      height: 13px;
      position: absolute;
      top: 18px;
      right: 20px;
    }
  }

  &-textarea__box {
    position: relative;

    &::after {
      content: '';
      background-image: url(../images/sms-form.svg);
      width: 18px;
      height: 15px;
      position: absolute;
      top: 21px;
      right: 20px;
    }
  }

  &-input {
    width: 300px;
    height: 50px;
    background-color: #fafafa;
    border: none;
    @extend %rubik-400;
    font-size: 16px;
    color: #565872;
    padding: 18px 50px 18px 20px;
  }

  &-name {
    padding: 18px 45px 18px 20px;
  }

  &-textarea {
    width: 100%;
    height: 175px;
    resize: none;
    background-color: #fafafa;
    border: none;
    @extend %rubik-400;
    font-size: 16px;
    color: #565872;
    padding: 18px 45px 18px 20px;
  }

  &-btn {
    padding: 20px 45px;
    background-color: $default;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    @extend %rubik-400;
    margin-top: 30px;
  }
}

.contact-bottom__right {
  width: 100%;
  height: 335px;
}

#map {
  width: 100%;
  height: 335px;
}







@import 'media';